<!DOCTYPE html>

<html>

<head>
    <title>404</title>


</head>


    <body>
        {{>header}}
            <div class="content">
                <h1> 404</h1>
                <p class="neutral">Page not found</p>
                
            </div>
        {{>footer}}
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script> 
    </body>

</html>