<!DOCTYPE html>

<html lang="no">
    <head>
    <title>Historical archive</title>  
    <link rel="stylesheet" href="/museum/styles/styles.css">
    <link rel="stylesheet" href="/museum/styles/styles_NHM.css">
    <link rel="stylesheet" href="/museum/styles/gallery.css">
    </head>
  
    <body>
        <div class="wrapper">
            {{>header}}
            <div class="content">
                <br><br><br><br>
                <p class="page-header" id="header-archive-page"></p>
                <p class="page-text" id="text-archive-page"></p>
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td id="archive-type">
                                    </td>
                                    <td></td>
                                    <td> </td>
                                </tr>
                                <tr><td id="sub-archive-type">

                                </td></tr>
                                <tr>
                                    <td>
                                    <form>
                                        <label for="archive-search-text">Søk i arkivet</label>
                                        <input id="archive-search-text" type="text" class="input" style="height:30px;  border-radius:4px; border-width: 1px" size="80">
                                        <button class="blue-button" id="search-button" style="margin-left:10px">Søk</button>
                                    </form>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    
                                    
                                </tr>
                            </table>
                        </td>
                        <td id= "extra-info-td"><div id="extra-info" style="display: none" class="black-border"></div></td>
                    </tr>
                </table>
               
                <table >
                    <tr>
                        <br>
                        <td style="align:left" id="head-nb-hits"></td>
                        <td style="align:left" id="nb-hits" ></td>
                        <td > <button class="blue-button" id="view-type-button" style="margin-left:10px; display: none">Tabell</button></td>

                        <br>
                    </tr>
                    
                </table>
                <div style="text-align:center;">
                    <div class="pagination-container">
                        <div class="pagination-div">
                            <input type="button" id="first" onclick="firstPage()" class="descrete-button" style="display:none" value="Vis første side"/>
                            <input type="button" id="previous" onclick="previousPage()" class="descrete-button" style="display:none" value="Vis forrige side"/>
                            <input type="button" id="next" onclick="nextPage()" class="descrete-button" style="display:none" value="Vis neste side"/>
                            <input type="button" id="last" onclick="lastPage()" class="descrete-button" style="display:none" value="Vis siste side"/>
                            <p style="display: none" class="small-text" id = "resultPageText"></p> 
                            <p style="display: none" class="small-text" id = "resultPageNb"></p>
                            <p style="display: none" class="small-text" id = "resultPageAlert"></p>
                        </div>
                    </div>
                    <br>
                </div>

                <div id="thumb-gallery" style="display: none"></div>
                <div id="container"><br></div>
            </div>
            {{>footer}}    
        </div>
        <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/tools/archive/archive.js"></script>
       
    </body>
</html>