<!DOCTYPE html>
<html lang="no">
    <head>
        <title>Hent data fra Artsobservasjoner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Tools page for downloading data from Artsobservasjoner">
        
    </head>
    <body>
        <div class="wrapper">
            {{>header}}
            
            <div class="content">
            <br><br><br>
            <form  method="post">
                <table>
                    <tr>
                        <td>
                            <main>
                        <table>
                            <tr>
                                <label for="museum-select" id="select-museum-label"></label>
                                <select id="museum-select" style="height:30px; border-radius:4px;">
                                    <option value="" id="selectMuseum">Velg museum</option>
                                    <option value="nhm" id="nhm">NHM</option>
                                    <option value="um" id="um">UM</option>
                                    <option value="vm" id="vm">VM</option>
                                    <option value="tmu" id="tmu">TMU</option>
                                    <option value="nbh" id="nbh">NBH</option>
                                    <option value="other-museum" id="other-museum">other</option>
                                </select>
                            </tr>
                            &nbsp
                            &nbsp
                            <tr>
                                            
                                <label for="collection-select" id="select-collection-label"></label>
                                <select id="collection-select" style="height:30px; border-radius:4px;">
                                    <option value="" id="selectCollection">Velg samling</option>
                                    <option value="alger" id="selectCollection">alger</option>
                                    <option value="karplanter" id="selectCollection">Karplanter</option>
                                    <option value="sopp" id="selectCollection">Sopp</option>
                                    <option value="lav" id="selectCollection">Lav</option>
                                    <option value="moser" id="selectCollection">Moser</option>
                                    <option value="entomologi" id="selectCollection">Insekter</option>
                                    <option value="marine invertebrater" id="selectCollection">Marine invertebrater</option>
                                    <option value="annen" id="selectCollection">other</option>
                                </select>
                                
                            </tr>
                            <tr>
                                <br>
                                <br>
                                <td>
                                    <label for="musit-Numbers" id="pasteRequest">MUSIT nummerserie starter på: </label>
                                    <br>
                                    <textarea id="musit-Numbers" name="musit-Numbers" rows="1" cols="10"></textarea>
                                </td>

                            </tr>
                            <tr>
        
                                <td>  <br>              
                                    <label for="artsObs-Numbers" id="pasteRequest">Lim inn artsobsnumre</label>
                                    <br>
                                    <textarea id="artsObs-Numbers" name="artsObs-Numbers" rows="10" cols="50"></textarea>
                                    <br><br>
                                </td>
                            </tr>
                            <tr>
                        <td>
                            <input type="checkbox" name="images-check" id="images-check" value="">
                            <label for="images-check">Last ned bilder</label> 
                            &nbsp
                            <input type="checkbox" name="lisens" id="lisens" value="" checked >
                            <label for="lisens">Kun med CC-BY lisens</label> 
                            <br>
                            <br>
                            <input type="checkbox" name="overskrift" id="overskrift" value=""  >
                            <label for="overskrift">Legg til overskrifter</label> 
                            <br>
                            <br>
                            <input type="submit" value="Submit" style="padding:6px; font-size:16px"> &nbsp
                            <input type="reset" style="padding:6px; font-size:16px" id="resetButton"> &nbsp 
                            <br>
                            <br>
                            <img id="please-wait" src="/museum/images/ajax-loader.gif" alt="Please Wait"  style="display:none" valign="top">
                        </td>
                    </tr>
                            </table>
                            </main>
                        </td>
                        <td>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <b>Hjelp</b> 
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Import excel-arket til MUSIT må ha kolonner som stemmer med kolonnene som brukes her. Tilpass excel arket slik at det stemmer. Klikk på knappen for å laste ned en eksempel fil med kolonner. <br><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="button" value="Vis kolonner" id="Vis-kolonne" style="padding:6px; font-size:16px">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br> <b>Musit nummerserie</b> er den serien med numre som i excelarket heter løpenumre og er det nummeret som posten får i databasen. Hvis man også laster ned bilder vil musit nummeret brukes som filnavn.
                                        <br><br>
                                        <b>Artsobsnumre</b> limes inn som en tallstreng (f.eks. 27783344 27561102). Bruk samme skilletegn mellom alle numerne, f.eks. tab, mellomrom eller linjeskift.
                                        <br><br>
                                        <b>Last ned bilder</b>, hvis denne boksen er haket av vil det også lastes ned bilder hvis de er tilgjengelige. Bildene vil navnes etter musitnummeret, slik at de lett kan kobles senere.
                                        <br><br>
                                        <b>Lisens</b>, i utgangspunktet lastes kun bilder med helt åpen lisens ned (CC-BY), men ved å fjerne haken i denne boksen vil alle tilgjengelige bilder lastes ned. Det er ikke anbefalt å laste opp bilder i databasen som ikke har helt åpen lisens.
                                        <br><br>
                                        <b>Overskrifter</b>, hekt av denne boksen hvis du vil ha med kolonne overskrifter i datafila di. Ikke velg dette hvis du planlegger å importere dataene til MUSIT.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                </table>


            </form>
            </div>
            {{>footer}}
        </div>
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
        <script src="/museum/scripts/utils/jszip/jszip.js"></script>
        <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/museum/scripts/utils/file-saver/FileSaver.min.js"></script>
        <script src="/museum/scripts/utils/tools/artsObs/getArtsObsData.js"></script>

    </body>


</html>