<!DOCTYPE html>

<html>
    <head>
        <title>Webportal Barcoding of fungi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>

    </head>
    
    <body>
       
        <div class="wrapper">
            {{>header}}
            <br><br>
            <div class="content">
                
                <br><br>
                <table>
                    <tr>
                        <td>
                            <br>
                            <div style="width:100%">
                                <div id="head_bc" style="font-size:18px">DNA barcodes of </div>
                                <br>
                                <div id="head-species" style="font-weight:bold; font-style:italic; font-size:18px">Art</div>
                                <br>
                                
                            </div>
                            <div style="width:100%; float:left; min-width:300px;" >
                                <br>
                                <div id="sequenced" style="font-weight:bold">Sequenced</div>
                                <div >
                                    <table id = "county-table" style="font-size:14px"></table>
                                </div>
                                <br>
                                <div id="sampled" style="font-weight:bold">Sampled</div>
                                <div >
                                    <table id = "county-table"></table>
                                </div>
                                <br>
                                <div >
                                    <table id = "county-table"></table>
                                </div><div id="selected" style="font-weight:bold">Selected</div>
                            </div>
                            
                        </td>

                    </tr>
                    <tr>
                        
                    </tr>
                    
                </table>
                <br><br>
                <div>
                    <button id="bcClose">Close page</button>
                </div>        
                <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
                <script src="/museum/scripts/utils/textItems.js"></script>
                <script src="/museum/scripts/utils/renderLangHeader.js"></script>
                <script src="/museum/scripts/utils/renderLangObjPage.js"></script>
                <script src="/museum/scripts/utils/ol/ol.js"></script>
                <script src="/museum/scripts/utils/map.js"></script>
                <script src="/museum/scripts/utils/tools/DNAbarcodes/bcSpecies.js"></script>
                
                 
            </div>
        </div>
    </body>
</html>
