<!DOCTYPE html>
<html lang="no">
    <head>
        <title>Check if coordinates are correct</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0";>
    </head>
    <body>
        <div class="wrapper">
            {{>header}}
            
            <div class="content">
                <br><br>
                <p class="page-header" id="checkCoordHeader"></p>
                
                
                <br>
                <p>Basert på ditt siste søk listes her opp de poster der koordinatene og kommune ikke stemmer overens. Korreksjoner må gjøres i samlingsdatabasen. </p>
                <p class="neutral" id="coordResult"></p>
                <table id="coord-results" border="1"></table>
                <br><br><br><br>
                <div id="rare-kommuner-text" style="display: none;">Disse kommunene feiler ved spørring til Kartverket. Er de feilskrevet, eller kanskje ikke fins lengre?</div>
                <table id="rare-kommuner" class="result-table"></table>

                <br><br><br><br>
                <div>
                    <table>
                        <tr><td>Her kan du få en oversikt over en kommunes nabokommuner. <br></td></tr>
                        <tr>
                            <td>
                                <p>
                                
                                <label for="norske-kommuner" id="norske-kommuner-label">Velg kommune</label>
                                <input list="norske-kommuner-list" placeholder="Start typing..." id="norske-kommuner">
                                <datalist id="norske-kommuner-list">
                                </datalist>
                                </p>
                            </td>
                            <td>
                                <div id="naboer"></div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            
            {{>footer}}
        </div>

                

        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
        <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/museum/scripts/utils/tools/checkCoordinates/checkCoordinates.js"></script>

    </body>


</html>