<!DOCTYPE html>

<html>
    <head>
        <title>Nettportal DNA-bank data</title>
        <link rel="stylesheet" href="/nhm/styles/styles.css">
    </head>
    
    <body>
        {{>header}}
        <br>
        <br>
        <div class="content">
            <h1 id="coremaHeader"></h1>
            <p class="neutral" id="coremaDummyText"></p>
        </div>   
        <div class="content">
           
            <!--<h1 id="object_page_header"></h1>-->
            
            <!-- <br>
            <h2 id="musit-regno"></h2>
        
            <table width = "1000px" >
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td id = "head-species-name" class= "bold" style= "white-space:pre"></td>
                                <td id = "species-name" style = "border-spacing: 10px 0"></td>
                            </tr>
                            <tr>
                                <td id = "head-det" class= "bold" style= "white-space:pre"></td>
                                <td id = "det" style = "border-spacing: 10px 0"></td>
                            </tr>
                            <tr>
                                <td id = "head-det-date" class= "bold" style= "white-space:pre"></td>
                                <td id = "det-date" style = "border-spacing: 10px 0"></td>
                            </tr>
                            
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td id = "head-coll-date" class= "bold" style= "white-space:pre"></td>
                                <td id = "coll-date" style = "border-spacing: 10px 0"></td>
                            </tr>
                            <tr>
                                <td id = "head-coll" class= "bold" ></td>
                                <td id = "coll" style = "border-spacing: 10px 0"></td>
                            </tr>
                            <tr>
                                <td id = "head-locality" class= "bold"></td>
                                <td id = "locality" style = "border-spacing: 10px 0"></td>
                            </tr>
                            <tr>
                                <td id = "head-coordinates" class= "bold"></td>
                                <td id = "coordinates" style = "border-spacing: 10px 0"></td>
                            </tr>
                            <tr>
                                <td id = "head-artsobs" class= "bold" style= "white-space:pre"></td>
                                <td id = "artsobsID" style = "border-spacing: 10px 0"></td>
                            </tr>
                            <tr>
                                <td id = "head-habitat" class= "bold"></td>
                                <td id = "habitat" style = "border-spacing: 10px 0"></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td id = "head-bold-link" class= "bold" style= "white-space:pre"></td>
                                <td id = "bold-link" style = "border-spacing: 10px 0"></td>
                            </tr>
                            <tr>
                                <td id = "head-coremaAccno" class= "bold" ></td>
                                <td id = "coremaAccno" style = "border-spacing: 10px 0"></td>
                            </tr>
                            {{!-- <tr>
                                <td id = "head-y" class= "bold"></td>
                                <td id = "y" style = "border-spacing: 10px 0"></td>
                            </tr> --}}
                        </table>
                    </td>

                   
                </tr>
               
                <tr>
                    <td><br><br></td>
                </tr>
                
                
            </table> -->
        
            <script src="/nhm/scripts/utils/papaparse/papaparse.min.js"></script>
            <script src="/nhm/scripts/utils/renderLang.js"></script>
            <script src="/nhm/scripts/utils/coremaData.js"></script>
            
        </div>
    </body>
</html>
