<!DOCTYPE html>
<html>
    <head>
        <title>Check dataflow to GBif and Artsdatabanken</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
    </head>
    <body>
        <div class="wrapper">
            {{>header}}
            
            <div class="content">
                <br><br><br><br>
                <p class="page-header" id="getDOIHeader"></p>
                <p class="neutral" id="getDOIText"></p>
                <br>

            <form  method="post">

                    <table>
                    <tr>
                        <td>     
                        <label for="collection-select" id="select-collection-label"></label>
                        <select id="collection-select" style="height:30px; border-radius:4px;">
                            <option value="" id="selectCollection"></option>
                        </select>
                        </td> 
                        <td>                                        
                            <p>
                            Resultattabell kommer her
                                            <fieldset>
                    <legend id="results"></legend>
                    <img id="please-wait" src="/museum/images/ajax-loader.gif" alt="Please Wait"  style="display:none" valign="top">
                    </fieldset>
                            </p>
                        </td>
                    </tr>
                    
                    <tr>
                    <td><br>
                            <label for="collection-key">Collection-key:</label>
                            <br>
                            <input type="text" id="collection-key" name="collection-key" size="34" required><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            venstre
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>


                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                        <td>  <br>              
                            <label for="museums-Numbers" id="pasteRequest"></label>
                            <br>
                            <textarea id="museums-Numbers" name="museums-Numbers" rows="10" cols="50"></textarea>
                            <br><br>
                        </td>
                        <td><div id="container"><br></div></td>
                    </table>

                <input type="submit" value="Submit" style="padding:6px; font-size:16px"> &nbsp
                <input type="reset" style="padding:6px; font-size:16px" id="resetButton">
            </form>
            </div>
            {{>footer}}
        </div>
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
        <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/museum/scripts/utils/tools/getDOI/dataObject.js"></script>
        <script src="/museum/scripts/utils/tools/checkDataFlow/checkDataFlow.js"></script>
        <script src="/museum/scripts/utils/tools/checkDataFlow/artskartAPI.js"></script>
        <script src="/museum/scripts/utils/tools/checkDataFlow/gbifAPI.js"></script>

    </body>


</html>