<!DOCTYPE html>
<html>
    <head>
        <title>Barcoded fungi in NorBOL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
    </head>
    <body>
        <div class="wrapper">
            {{>header}}
            
            <div class="content">
                <br><br><br><br>
                <p class="page-header" id="getBarcodeHeader"></p>
                <p class="neutral" id="getBarcodeText"></p>
                <br>
                <form id="search-bc-form">
                    <div  style="float: left; width:200px">
                        <input id="search-bc-text" type="text" class="input"    title="Skriv inn søkeord">
                    </div>
                    
                    <div style="float: left; width:60px; padding-left:10px; display: inline">
                        <button class="blue-button" id="search-bc-button" title="Søk" >Søk</button>
                    </div>
                </form>
                <div id="fungi-buttons">&nbsp &nbsp</div>
                <br>
                <table id="barcode-table" style="border:solid; bordercolor:grey">
                
                </table>
                <br>
            </div>
            {{>footer}}
        </div>
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
        <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/museum/scripts/utils/tools/DNAbarcodes/barcodesCommonFunctions.js"></script>
        <script src="/museum/scripts/utils/tools/DNAbarcodes/DNAbarcodes.js"></script>
        
        

    </body>
    </body>


</html>