<!DOCTYPE html>
<html>
    <head>
        <title>Get DOI from GBIF from a list of museum numbers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
    </head>
    <body>
        <div class="wrapper">
            {{>header}}
            
            <div class="content">
                <br><br><br><br>
                <p class="page-header" id="getDOIHeader"></p>
                <p class="neutral" id="getDOIText"></p>
                <br>

            <form  method="post">

                    <table>
                    <tr>
                        <td>
                            <label for="museum-select" id="select-museum-label"></label>
                            <select id="museum-select" style="height:30px; border-radius:4px;">
                                <option value="" id="selectMuseum"></option>
                                <option value="nhm" id="nhm">NHM</option>
                                <option value="um" id="um">UM</option>
                                <option value="vm" id="vm">VM</option>
                                <option value="tmu" id="tmu">TMU</option>
                                <option value="nbh" id="nbh">NBH</option>
                                <option value="other-museum" id="other-museum">other</option>
                            </select>
                            &nbsp;
                            &nbsp;

                            <label for="collection-select" id="select-collection-label"></label>
                            <select id="collection-select" style="height:30px; border-radius:4px;">
                                <option value="" id="selectCollection"></option>
                            </select>
                        </td>
                        <td>
                            Lag en lenke til dataene fra samlingsobjekter. Ved utlån av materiale eller bruk av objekter til forskning kan man få en DOI som det henvises til i en vitenskapelig artikkel slik at man kan refere til samlingene på en entydig måte. Dette er en forutsetning for å kunne utnytte de muligheter som ligger i <a href="https://www.bionomia.net" target="_blank">Bionomia</a>.
                        </td>
                    </tr>
                    <tr>
                    <td><br>
                            <label for="collection-key">Collection-key:</label>
                            <br>
                            <input type="text" id="collection-key" name="collection-key" size="34" required><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            <fieldset style="background-color:#E8E8E8;">
                                <legend id="onloggingData"></legend>
                                <table >
                                    <tr>
                                        <td>
                                            <label for="email" id="emailRequest"></label>
                                        </td>
                                        <td>
                                            <input type="email" id="email" name="email" required>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            <label for="username" id="usernameRequest"></label>
                                        </td>
                                        <td>
                                            <input type="text" id="username" name="username" required>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td>
                                            <label for="pwd" id="passwordRequest"></label>
                                        </td>                          
                                        <td>
                                            <input type="password" id="current-password" name="pwd" required>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <p>
                                        For å bruke denne siden må du ha et GBiF brukernavn og passord. Hvis du ikke har dette så gå til <a href="https://www.gbif.org/">www.GBiF.org</a> og registrer deg.
                                        </p>
                                        <p>
                                            For at søke mot GBiF skal bli riktig må du passe på å har riktig format på "Catalogue number". Dette varierer fra museum til museum og samling til samling. Du kan gå inn på GBiF sine sider og se hvordan det skal være for den valgt samlingen ved å klikke på lenken under:
                                            <a href="https://www.gbif.org/dataset/search?q=" id="gbif-Link">GBiF dataset</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                        <td>  <br>              
                            <label for="museums-Numbers" id="pasteRequest"></label>
                            <br>
                            <textarea id="museums-Numbers" name="museums-Numbers" rows="10" cols="50"></textarea>
                            <br><br>
                        </td>
                        <td><div id="container"><br></div></td>
                    </table>

                <input type="submit" value="Submit" style="padding:6px; font-size:16px"> &nbsp
                <input type="reset" style="padding:6px; font-size:16px" id="resetButton">
                <br><br><br>
                <fieldset>
                    <legend id="results"></legend>
                    <img id="please-wait" src="/museum/images/ajax-loader.gif" alt="Please Wait"  style="display:none" valign="top">
                    <p id="Citation"></p>
                    <p id="DOI-result"></p>
                    <p id="Download-link"></p>
                </fieldset>
                <br>

            </form>
            </div>
            {{>footer}}
        </div>
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
        <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/museum/scripts/utils/tools/getDOI/dataObject.js"></script>
        <script src="/museum/scripts/utils/tools/getDOI/getDOI.js"></script>

    </body>


</html>