<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="/nhm/styles/styles.css">
    <link rel="stylesheet" href="/nhm/styles/styles_NHM.css">

    </head>
  

    <body>
        <div class="wrapper">
            {{>header}}
            
            <div class="content">
                <br><br><br><br>
                <p class="page-header" id="helpHeader"></p>
                <p class="neutral" id="helpText"></p>
                
            </div>
            {{>footer}}
        </div>
        <script src="/nhm/scripts/utils/renderLang.js"></script>
    </body>
</html>
