<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="/styles/styles.css">

    </head>
  

    <body>
        <div class="wrapper">
            {{>header}}
            <br><br>
            <div class="content">
                <p class="page-header" id="helpHeader"></p>
                <p class="neutral" id="helpText"></p>
                
            </div>
            {{>footer}}
        </div>
        <script src="/scripts/utils/renderLang.js"></script>
    </body>
</html>
