<!DOCTYPE html>

<html>
    <head>


    </head>
  

    <body>
        <div class="wrapper">
            {{>header}}
            
            <div class="content">
                <br><br><br><br>
                <p class="page-header" id="helpHeader"></p>
                <p class="neutral" id="helpText"></p>
                
            </div>
            {{>footer}}
        </div>
        <link rel="stylesheet" href="/nhm/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/nhm/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/nhm/scripts/utils/textItems.js"></script>
        <script src="/nhm/scripts/utils/renderLang.js"></script>
    </body>
</html>
