<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="/styles/styles.css">

    </head>
  

    <body>
        {{>header}}
        <br>
        <div align="right">
            <br>
            <a class="backLink" href="/" id="backToSearchFromHelp"></a>
        </div>
        
        <div class="content">
            <h2 id="helpHeader"></h2>
            <p class="neutral" id="helpText"></p>
            
        </div>
        {{>footer}}
        <script src="/scripts/utils/renderLang.js"></script>
    </body>
</html>
