<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="/styles/styles.css">

    </head>
  

    <body>
        {{>header}}
            <h1> Hjelpeside</h1>
            <p class="neutral">Her kommer en hjelpetekst</p>
            
       
     {{>footer}}
    </body>
</html>
