<!DOCTYPE html>

<html>
    <head>
    <title>Nettportal søkeside</title>  
    </head>
  
    <body>
        <div class="wrapper">
            {{>header}}
            <div class="content">
                <table>
                    <tr>
                        <div align="right">
                            <br>
                        </div>
                        <br><br><br>
                    </tr>
                    <tr>
                        {{!-- cell with all text-fields to the left --}}
                        <td valign="top" width="740px">
                            <p id="header-search-page"></p>
                            {{!-- table with all text-fields to the left except title --}}
                            <table> 
                                <tr>
                                    {{!-- cell-row with select-collection and search -button --}}
                                    <td style="vertical-align: middle; " colspan="2">
                                        <label for="collection-select" id="select-collection-label" ></label>
                                        <select id="collection-select" style=" height:30px; border-radius:4px;" >
                                            <option value="" id="vennligst" ></option>
                                            <optgroup label="Specimens">
                                                <option value="karplanter" id="karplanter"></option>
                                                <option value="sopp" id="sopp"></option>
                                                <option value="moser" id="moser"></option>
                                                <option value="lav" id="lav"></option>
                                                <option value="alger" id="alger"></option>
                                                <option value="entomologi" id="insekter"></option>
                                                <option value="birds" id="fugler"></option>
                                                <option value="mammals" id="pattedyr"></option>
                                            </optgroup>
                                            <optgroup label="DNA">
                                                <option value="dna_karplanter" id="dna_karplanter"></option>
                                                <option value="dna_entomologi" id="dna_insekter"></option>
                                                <option value="dna_fish_herptiles" id="dna_fish_herptiles"></option>
                                                <option value="dna_fungi_lichens" id="dna_fungi_lichens"></option>
                                                <option value="dna_other" id="dna_other"></option>
                                            </optgroup>
                                        </select>
                                    </td>
                                    <td  colspan="2" >
                                        {{!-- style="padding: 0px 31px; " --}}
                                        <button id="empty-search-button" style="display:none"></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan = "3">
                                        <br>
                                        <br>
                                        <form>
                                            <input id="search-text" type="text" class="input" style="height:30px;  border-radius:4px; border-width: 1px" size="80">
                                            <button id="search-button"></button>
                                        </form>
                                        <br>
                                        <img id="please-wait" src="/images/ajax-loader.gif" alt="Please Wait"  style="display:none" valign="top">
                                    </td>
                                </tr>
                                <tr >    
                                    <td id="hits-per-page" style="vertical-align:middle; white-space: nowrap; width: 110px;"></td>
                                    <td  style="vertical-align:middle; " >
                                        <select id="number-per-page" style=" height:30px; border-radius:4px;" >
                                            <option value="10">10</option>
                                            <option value="20" selected="selected">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="4000">All</option>
                                            <br><br>
                                    </td>
                                    <td id="error-message"></td>
                                </tr>
                                <tr>
                                    <td><br><br></td>
                                </tr>
                                <tr>    
                                    <td style="vertical-align:middle; white-space: nowrap; "  id="head-nb-hits"></td>
                                    <td  style="vertical-align:middle; white-space: nowrap;" id="nb-hits" ></td>
                                    <td style="vertical-align: middle;">
                                        <button id="download-button"  style="display:none"></button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        {{!-- table cell with map --}}
                        <td > 
                            <br>
                            <div id="map-search" class="map-search"></div>
                            <div id="popup" class="ol-popup">
                                <!--a href="#" id="popup-link"></a-->
                                <div id="popup-content"></div>
                            </div>

                            <table align="right" >
                                <tr >
                                    <td >
                                        <button id="zoom-button" style="display:none">Zoom</button>
                                        <div id="zoom-modal" class="modal">
                                            <div class="modal-content">
                                                <span class="close">&times;</span>
                                                <span class="popuptext" id="zoom-expl-popup"></span>
                                            </div>    
                                        </div>
                                    </td>
                                    <td >
                                        <button id="large-map-button" style="display:none"></button>
                                        <br>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    
                    </tr>
                </table>

                <table id="myTable"></table>
                <br><br>

                <div style="text-align:center;">
                    <div class="pagination-container">
                        <div class="pagination-div">
                            <input type="button" id="first" onclick="firstPage()" class="pagination" style="display:none"/>
                            <input type="button" id="previous" onclick="previousPage()" class="pagination" style="display:none"/>
                            <input type="button" id="next" onclick="nextPage()" class="pagination" style="display:none"/>
                            <input type="button" id="last" onclick="lastPage()" class="pagination" style="display:none"/>
                            <p style="display: none" id = "resultPageText"></p> 
                            <p style="display: none" id = "resultPageNb"></p>
                            <p style="display: inline-block" id = "resultPageAlert"></p>
                        </div>
                    </div>
                </div>
            
            </div>
            {{>footer}}
        </div>

        <script src="https://kit.fontawesome.com/409783eafe.js" crossorigin="anonymous"></script>
        <script src="/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/scripts/utils/renderLang.js"></script>
        <link rel="stylesheet" href="/styles/styles.css">
        <script src="/scripts/utils/ol/ol.js"></script>
        <script src="/scripts/utils/map.js"></script>
        <script src="/scripts/utils/paginateAndRender.js"></script>
        <script src="/scripts/utils/search.js"></script>   
        
    </body>
</html>