<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="/styles/styles.css">
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/css/ol.css" type="text/css"> --}}
       {{!--  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/build/ol.js"></script> --}}
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> --}}
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> --}}
   <script src="/scripts/utils/ol/ol.js"></script>

    <title>Nettportal søkeside</title>  
    </head>
  

    <body>
        {{>header}}
        <div class="content">
            <h3 id="sok_i_samlingene"></h3>
                <br>
                <label for="collection-select" id="velg_en_samling"></label>
                <select id="collection-select">
                    <option value="" id="vennligst"></option>
                    <option value="karplanter" id="karplanter"></option>
                    <option value="sopp" id="sopp"></option>
                    <option value="moser" id="moser"></option>
                    <option value="lav" id="lav"></option>
                    <option value="alger" id="alger"></option>
                    <option value="entomologi" id="insekter"></option>
                </select>
            <br>

            <br>
            <form>
            <input id="search-text" type="text" class="input" placeholder="Søk">
            <button id="sok"></button>
            </form>
            <br>
            
            <table> 
                <tr>
                    <td> <h3 id="resultHeader"></h3> </td>
                </tr>
                <tr>    
                    <td id="nbHits"></td>
                    <td  id="antall-treff" ></td>
                    <td width=500px align="right"> <button id="downloadLink"></button> </td>
                </tr>
            </table>
            
            <br>
            <img id="pleaseWait" src="/images/ajax-loader.gif" alt="Please Wait"  style="display:none">


            <table id="myTable">
            </table>

             
        </div>
                    <div id="map" class="map"></div>
                     <div id="popup" class="ol-popup">
                         <a href="#" id="popup-link" class="popup-link"></a>
                        <div id="popup-content"></div>
                     </div>
     {{>footer}}
    <script src="/scripts/utils/search.js"></script>   
    <script src="/scripts/utils/renderLanguageSearch.js"></script>
    </body>
</html>