<!DOCTYPE html>

<html>
    <head>
     
    <title>Nettportal søkeside</title>  
    </head>
  

    <body>
    {{>header}}

    <div class="content">
        
        <table>
            <tr>
                <div align="right">
                    <br>
                    <button id="empty-search"></button>
                </div>
                <br><br>
            </tr>
            <tr>
                <td valign="top" width="500px">
                    <h2 id="header-search-page"></h2>
                    <label for="collection-select" id="select-collection-label"></label>
                    <select id="collection-select">
                        <option value="" id="vennligst"></option>
                        <optgroup label="Specimens">
                            <option value="karplanter" id="karplanter"></option>
                            <option value="sopp" id="sopp"></option>
                            <option value="moser" id="moser"></option>
                            <option value="lav" id="lav"></option>
                            <option value="alger" id="alger"></option>
                            <option value="entomologi" id="insekter"></option>
                            <option value="birds" id="fugler"></option>
                            <option value="mammals" id="pattedyr"></option>
                        </optgroup>
                        <optgroup label="DNA">
                            <option value="dna_karplanter" id="dna_karplanter"></option>
                            <option value="dna_entomologi" id="dna_insekter"></option>
                            <option value="dna_fish_herptiles" id="dna_fish_herptiles"></option>
                            <option value="dna_fungi_lichens" id="dna_fungi_lichens"></option>
                            <option value="dna_other" id="dna_other"></option>
                        </optgroup>
                    </select>
                    <br>
                    <br>
                    <form>
                        <input id="search-text" type="text" class="input">
                        <button id="search-button"></button>
                    </form>
                    <br>
                    <img id="please-wait" src="/images/ajax-loader.gif" alt="Please Wait"  style="display:none" valign="top">

                        <table> 
                            <tr>
                                <br>
                                <td> <h3 id="result-header"></h3> </td>
                            </tr>
                            <tr>    
                                <td id="head-nb-hits"></td>
                                <td  id="nb-hits" ></td>
                            </tr>
                            <tr>
                                <td> <br><button id="download-button"  style="display:none"></button> </td>
                            </tr>
                        </table>
                </td>
                <td>
                    <br>
                    <div id="map" class="map"></div>

                    <div id="popup" class="ol-popup">
                        <!--a href="#" id="popup-link"></a-->
                        <div id="popup-content"></div>
                    </div>
                    <br>
                </td>
                <td>
                    <br>
                    
                    <button id="zoom-button" style="display:none">Zoom</button>
                    <div id="zoom-modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <span class="popuptext" id="zoom-expl-popup"></span>
                        </div>    
                    </div>
                                           
                    

                </td>
            </tr>
        </table>
        
        <table id="myTable"></table>

             
    </div>

       

        {{>footer}}

    <script src="/scripts/utils/papaparse/papaparse.min.js"></script>
    <script src="/scripts/utils/renderLang.js"></script>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/utils/ol/ol.js"></script>
    <script src="/scripts/utils/map.js"></script>
    <script src="/scripts/utils/search.js"></script>   
    
    
    </body>
</html>