<!DOCTYPE html>

<html lang="no">
    <head>
        <title>item-page</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link rel="stylesheet" href="/museum/styles/styles_NHM.css">
    </head>
  
    <body>
        <div class="wrapper">
            {{>header}}

            <br>

                <table>
                    <tr >
                        <td><div id="results-container"></div></td>

                        <td id="image-td">
                            <div id="item-image"></div>
                            <br><br>
                            <div style="display: none" id="image-text" class="red-border"></div>
                        </td>
                    </tr>
                        <br>
                </table>
             </div>
            {{>footer}}    
        </div>
        <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/tools/archive/item-page.js"></script>
     </body>
</html>