<!DOCTYPE html>

<html lang="no">
    <head>
        <title>item-page</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
  
    <body>

        
        Hei hei

 <script src="/museum/scripts/utils/tools/archive/item-page.js"></script>
     </body>
</html>