<!DOCTYPE html>

<html>
    <head>
    <title>Samlings Journaler</title>  
    <link rel="stylesheet" href="/styles/styles.css">
    </head>
  
    <body>
        <div class="wrapper">
            {{>header}}
             <br><br><br><br>
            <div class="content" id="journal-content">
                <p class="page-header" id="header-journal-page"></p>
                <table>
                    <tr>
                        <td>
                        <form>
                            <input id="journal-search-text" type="text" class="input" style="height:30px;  border-radius:4px; border-width: 1px" size="80">
                            <button class="blue-button" id="search-button">Søk</button>
                        </form>
                        </td>
                    </tr>
                    <tr>
                        
                    </tr>
                </table>
                <table >
                    <tr>
                        <td style="align:left" id="head-nb-hits"></td>
                        <td style="align:left" id="nb-hits" ></td>
                    </tr>
                </table>
                <div id="container"></div>
                    </div>
                    <script src="/scripts/utils/papaparse/papaparse.min.js"></script>
                    <script src="/scripts/utils/renderLang.js"></script>
                    <script src="/scripts/utils/journaler.js"></script>
        </div>
        {{>footer}}
    </body>
</html>