<!DOCTYPE html>

<html lang="no">
    <head>
        <title>Labels</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
  
    <body>
        {{>header}}
        
        <table>
            <tr>
                <td>
                    <label for="museum-select" id="select-museum-label"></label>
                    <select id="museum-select" style="height:30px; border-radius:4px;">
                        <option value="" id="selectMuseum"></option>
                        <option value="nhm" id="nhm">NHM</option>
                        <option value="um" id="um">UM</option>
                        <option value="vm" id="vm">VM</option>
                        <option value="tmu" id="tmu">TMU</option>
                        <option value="nbh" id="nbh">NBH</option>
                    </select>
                    &nbsp;
                    &nbsp;

                    <label for="collection-select" id="select-collection-label"></label>
                    <select id="collection-select" style="height:30px; border-radius:4px;">
                        <option value="" id="selectCollection"></option>
                    </select>
                </td>
            </tr>
            
        </table>
<div id="labels">
  <div style="display:none" id="dropdown-container">
    <form id="label-names">
      <p>Velg navn som skal på skillearkene inne i boksene:</p>
      <select id="scientific-names">
        <option value="value-1"></option>
      </select>
      <button id="label-name-submit" type="submit" class="blue-button">Lag skilleark</button>
    </form>
  </div>
<br><br><br>
  <img id="please-wait" src="/museum/images/ajax-loader.gif" alt="Please Wait" style="display:block; margin-top: 5em;" valign="top">

  <div style="display:none" id="sorry"></div>

  <div style="display:none " id="dropdown-box-container">
    <form id="box-names">
      <p>Velg navn som skal på boksene:</p>
      <select id="scientific-box-names">
        <option value="value-1"></option>
      </select>
      <br>
      <input type="checkbox" id="box-numbers" name="box-numbers" value="enable-numbers">
      <label for="box-numbers">Inkluder boksnummerlabel</label>
      <br>
      <button id="box-name-list" type="submit" class="blue-button">Legg til liste</button>
    </form>
  </div>

  <form>
    <table id="box-list" style="display: none; width: auto;">
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Slett</th>
      </tr>
      <tr>
        <td><input type="text" id="box-label-number"></td>
        <td><input type="text" id="box-name-input"></td>
        <td><input type="number" id="box-number-input"></td>
        <td><button type="button" class="blue-button">Slett</button></td>
      </tr>
    </table>

    <button id="box-name-submit" type="submit" style="display: none;" class="blue-button">Lag kasse etiketter</button>
  </form>
</div>

<p></p> 

<div style="display:none" id="sorry"></div>



        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <link rel="stylesheet" type="text/css" href="/museum/scripts/utils/selectr/selectr.min.css">
        <script type="text/javascript" src="/museum/scripts/utils/selectr/selectr.min.js"></script>
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
         <script src="/museum/scripts/utils/tools/labels/labels.js"></script>
     </body>
</html>