<!DOCTYPE html>

<html>
    <head>

    </head>
  

    <body>

        <div class="wrapper">
            {{>header}}
            <div class="content">
                <br><br><br><br>
                <p class="page-header" id="header-loan-info-page"></p>
                <p class="page-text" id="text-loan-info-page"></p>
                <table>
                    <tr>
                        <td id="journal-type">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <form>
                            <input id="loan-search-text" type="text" class="input" style="height:30px;  border-radius:4px; border-width: 1px" size="80">
                            <button class="blue-button" id="search-button" style="margin-left:10px">Søk</button>
                        </form>
                        </td>
                    </tr>
                    <tr>
                        
                    </tr>
                </table>
                <table >
                    <tr>
                        <br>
                        <td style="align:left" id="head-nb-hits"></td>
                        <td style="align:left" id="nb-hits" ></td>
                        
                        <br>
                    </tr>
                    <tr>
                        <td style="align:left" id="max-hits"></td>
                    </tr>
                    
                </table>
                <img id="please-wait" src="/museum/images/ajax-loader.gif" alt="Please Wait"  style="display:none" valign="top">
                <div id="container"><br></div>
            </div>
            {{>footer}}    
        </div>
        <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
        <script src="/museum/scripts/utils/textItems.js"></script>
        <script src="/museum/scripts/utils/renderLangHeader.js"></script>
        <script src="/museum/scripts/utils/renderLang.js"></script>
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/tools/loans/loanInfo/loanInfo.js"></script>

    </body>
</html>
