<!DOCTYPE html>

<html>
    <head>

        <style>
            * {
            box-sizing: border-box;
            }

            input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            }
            
            input[type=email], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            }

            input[type=tel], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            }

            label {
            padding: 12px 12px 12px 0;
            display: inline-block;
            }

            input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
            }

            input[type=submit]:hover {
            background-color: #45a049;
            }

            .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            }

            .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
            }

            .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
            }

            /* Clear floats after the columns */
            .row:after {
            content: "";
            display: table;
            clear: both;
            }

            /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
            @media screen and (max-width: 600px) {
            .col-25, .col-75, input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
            }
        </style>
    </head>
  

    <body>
        <div class="wrapper">
            {{>header}}
            
            <div class="content">
                <br><br><br><br>
        <div id="table-container">
            <h3>List of objects to loan</h3>
        </div>
        <br><br>
        <div class="container">
            <h3>Fill in loan form:</h3>
            <form ID="loan-form">
                <div class="row">
                    <div class="col-25">
                   <label for="Institution" >Institution<span class="formbuilder-required">*</span></</label>
                    </div>
                    <div class="col-75">
                    <input type="text" class="loan-form" name="Institution" access="false" id="Institution" required="required" aria-required="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="country">Country</label>
                    </div>
                    <div class="col-75">
                    <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    </div>
                </div>
               <div class="row">
                    <div class="col-25">
                    <label for="rname">Responsible person at the institution<span class="formbuilder-required">*</span></</label>
                    </div>
                    <div class="col-75">
                    <input type="text" class="loan-form" name="rname" access="false" id="rname" required="required" aria-required="true"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="cname" >conntact person for loan<span class="formbuilder-required">*</span></</label>
                    </div>
                    <div class="col-75">
                    <input type="text" class="loan-form" name="cname" access="false" id="cname" required="required" aria-required="true"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="oname" >other person innvolved in the loan<span class="formbuilder-required">*</span></</label>
                    </div>
                    <div class="col-75">
                    <input type="text" class="loan-form" name="oname" access="false" id="oname"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="paddress">Postal address<span class="formbuilder-required">*</span></</label>
                    </div>
                    <div class="col-75">
                    <input type="text" class="loan-form" name="paddress" access="false" id="paddress" required="required" aria-required="true"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="saddress" >Street address<span class="formbuilder-required">*</span></</label>
                    </div>
                    <div class="col-75">
                    <input type="text" class="loan-form" name="saddress" access="false" id="saddress" required="required" aria-required="true"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="email">e-mail conntact person<span class="formbuilder-required">*</span></label>
                    </div>
                    <div class="col-75">
                    <input type="email" class="loan-form" name="email" access="false" id="email" required="required" aria-required="true"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="phone" >Phone contact person<span class="formbuilder-required">*</span></label>
                    </div>
                    <div class="col-75">
                    <input type="tel" class="loan-form" name="phone" access="false" id="phone" required="required" aria-required="true"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="purpose">Purpose of the loan<span class="formbuilder-required">*</span></label>
                    </div>
                    <div class="col-75">
                    <textarea id="purpose" name="purpose" placeholder="Write something.." required="required" aria-required="true" style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="documents">Special documents that needs to accopany the loan for import purpuses</label>
                    </div>
                    <div class="col-75">
                    <textarea id="purpose" name="purpose" placeholder="www.custum_import.somethig" style="height:200px"></textarea>
                    </div>
                </div>
     
                <br>
                <div class="row">
                    <input type="submit" value="Send request">
                </div>
            </form>
        </div>


            {{>footer}}
        </div>

        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
        <script src="/museum/scripts/utils/tools/loans/loansPage.js"></script>

    </body>
</html>