<!DOCTYPE html>

<html>
    <head>
        <title>Nettportal objektvisning</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <script src="/scripts/utils/ol/ol.js"></script>
    </head>
    
    <body>
         {{>header}}
         <div class="content">
           
            <!--<h1 id="object_page_header"></h1>-->
            <h2 id="musit_regno"></h2>
        
            <table width = "1000px" >
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td id = "preName" class= "bold"></td>
                                <td id = "name1"></td>
                            </tr>
                            <tr>
                                <td id = "detLine" class= "bold"></td>
                                <td id = "det1"></td>
                            </tr>
                            <tr>
                                <td id = "detDateLine" class= "bold"></td>
                                <td id = "detDate"></td>
                            </tr>
                            
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td id = "dateName" class= "bold"></td>
                                <td id = "date1"></td>
                            </tr>
                            <tr>
                                <td id = "collectorName" class= "bold"></td>
                                <td id = "collector1"></td>
                            </tr>
                            <tr>
                                <td id = "localityName" class= "bold"></td>
                                <td id = "locality1"></td>
                            </tr>
                            <tr>
                                <td id = "coordinatesName" class= "bold"></td>
                                <td id = "coordinates1"></td>
                            </tr>
                            <tr>
                                <td id = "artsobsName" class= "bold"></td>
                                <td id = "artsobs1"></td>
                            </tr>
                            <tr>
                                <td id = "habitatName" class= "bold"></td>
                                <td id = "habitat1"></td>
                            </tr>
                        </table>
                    </td>

                   
                </tr>
               
                <tr>
                    <td><br><br></td>
                </tr>
                <tr>
                    <td>
                        <div id="map" class="map"></div>
                    </td>
                    <td>
                        <div>
                            <a id="photo_anchor">   
                                <img id="photo_box">
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        
<!--            <div class="column">
                <div id= "species_box" class="box"></div>
                <div id="map" class="map"></div>
            </div>
            
            <div class="column">
                <div id="collectionEvent_box" class="box"></div>
                <div>
                    <a id="photo_anchor">   
                        <img id="photo_box">
                    </a>
                </div>
            </div> -->

            
            <script src="/scripts/utils/objekt.js"></script>
            <script src="/scripts/utils/renderLang.js"></script>
            {{!-- {{>footer}} --}}
        </div>
    </body>
</html>
