<!DOCTYPE html>

<html>
    <head>
        <title>Nettportal objektvisning</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/css/ol.css" type="text/css">
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/build/ol.js"></script>
    </head>
    
    <body>
        <div class="content">
            {{>header}}
            <h1>Objektvisning</h1>
            <h2 id="musit_regno"></h2>
        
        
            <div id="data_box" class="column">
                <div id="species_box" class="box"></div>
                <div id="collectionEvent_box" class="box"></div>
            </div>
            
            <div class="column">
                <a id="photo_anchor">   
                    <img id="photo_box" alt="Bilde kan ikke vises">
                </a>
            </div>
            
            <div id="map" class="map"></div>
            <script type="module" src="/scripts/utils/objekt.js"></script>
            {{>footer}}
        </div>
    </body>
</html>