<!DOCTYPE html>

<html>
    <head>
        <title>Nettportal objektvisning</title>
        <link rel="stylesheet" href="/styles/styles.css">
        {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/css/ol.css" type="text/css"> --}}
        {{!-- <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/build/ol.js"></script> --}}`
        {{!-- <script src="/scripts/utils/ol/ol.js"></script> --}}
        <script src="/scripts/utils/ol/ol.js"></script>
    </head>
    
    <body>
         {{>header}}
         <div class="content">
           
            <h1 id="object_page_header"></h1>
            <h2 id="musit_regno"></h2>
        
            <table style="width:100%">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td id = "preName"></td>
                                <td id = "name1"></td>
                            </tr>
                            <tr>
                                <td id = "detLine"></td>
                                <td id = "det1"></td>
                            </tr>
                            <tr>
                                <td id = "detDateLine"></td>
                                <td id = "detDate"></td>
                            </tr>
                            
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td id = "dateName"></td>
                                <td id = "date1"></td>
                            </tr>
                            <tr>
                                <td id = "collectorName"></td>
                                <td id = "collector1"></td>
                            </tr>
                            <tr>
                                <td id = "localityName"></td>
                                <td id = "locality1"></td>
                            </tr>
                            <tr>
                                <td id = "coordinatesName"></td>
                                <td id = "coordinates1"></td>
                            </tr>
                            <tr>
                                <td id = "artsobsName"></td>
                                <td id = "artsobs1"></td>
                            </tr>
                            <tr>
                                <td id = "habitatName"></td>
                                <td id = "habitat1"></td>
                            </tr>
                        </table>
                    </td>

                   
                </tr>
                <tr>
                    <td>
                        <div id= "species_box"></div>
                    </td>
                    <td>
                        <div id="collectionEvent_box"></div>
                    </td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td>
                        <div id="map" class="map"></div>
                    </td>
                    <td>
                        <div>
                            <a id="photo_anchor">   
                                <img id="photo_box">
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        
<!--            <div class="column">
                <div id= "species_box" class="box"></div>
                <div id="map" class="map"></div>
            </div>
            
            <div class="column">
                <div id="collectionEvent_box" class="box"></div>
                <div>
                    <a id="photo_anchor">   
                        <img id="photo_box">
                    </a>
                </div>
            </div> -->

            
            <script src="/scripts/utils/objekt.js"></script>
            <script src="/scripts/utils/renderLang.js"></script>
            {{!-- {{>footer}} --}}
        </div>
    </body>
</html>
