<!DOCTYPE html>

<html>
    <head>
        <title>Nettportal objektvisning</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="/museum/styles/styles.css">
        <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
        <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>

    </head>
    
    <body>
       
        <div class="wrapper">
            {{>header}}
            <br><br>
            <div class="content">
                <button id="back-to-result" style="float: right" onclick="history.back()">Tilbake til søkeresultat</button>
                <br>
                <div style="width:100%">
                    <div class="page-header" id="musit-regno" style="width:40%; display: inline-block"></div>
                    {{!-- <a href="/museum/advancedSearch" id="adv-search-link" style="display: none">Tilbake til søkeresultat - avansert søk</a> --}}
                </div>
                
                <div style="width:40%; float:left; min-width:300px">
                    <table id = "object-table"></table>
                </div>
                <div style="width:29%; float:left; min-width:300px" id="map-style">
                    <div class="map-object" id="map-object"></div>
                    <table id="table-object">
                        <tr>
                            <td>
                                <button id="zoom-button" style="display:none">Zoom</button>
                                <div id="zoom-modal" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <span class="popuptext" id="zoom-expl-popup"></span>
                                    </div>    
                                </div>
                            </td>
                            <td>
                                <button id="large-map-object-button" style="display:none"></button>
                            </td>
                            
                        </tr>
                    </table>
                    
                    <br><br>
                </div>
                <div style="width:29%; float:left; min-width:254px">
                    <div class="map-object">
                        <a id="photo-anchor">   
                            <img id="photo-box">
                        </a>
                    </div>
                    <div id = "photoButtons">
                        <table>
                            <tr>
                                <td>
                                    <div class="photoButtonsClass"> <button id="next-photo"></button> </div>
                                </td>
                                <td>
                                    <div class="photoButtonsClass"> <button id="previous-photo"></button></div>
                                </td>
                                <td>
                                    <div class="photoButtonsClass"><div id="nb-photos"></div></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                    
                <script src="/museum/scripts/utils/papaparse/papaparse.min.js"></script>
                <script src="/museum/scripts/utils/textItems.js"></script>
                <script src="/museum/scripts/utils/renderLang.js"></script>
                <script src="/museum/scripts/utils/ol/ol.js"></script>
                <script src="/museum/scripts/utils/map.js"></script>
                <script src="/museum/scripts/utils/object.js"></script>
            </div>
        </div>
    </body>
</html>
