<!DOCTYPE html>

<html>
    <head>
        <title>Nettportal objektvisning</title>
        <link rel="stylesheet" href="/styles/styles.css">
        {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/css/ol.css" type="text/css"> --}}
        {{!-- <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/build/ol.js"></script> --}}`
        {{!-- <script src="/scripts/utils/ol/ol.js"></script> --}}
        <script src="/scripts/utils/ol/ol.js"></script>
    </head>
    
    <body>
         {{>header}}
         <div class="content">
           
            <h1 id="object_page_header"></h1>
            <h2 id="musit_regno"></h2>
        
        
            <div id="data_box" class="column">
                <div id="species_box" class="box"></div>
                <div id="collectionEvent_box" class="box"></div>
            </div>
            
            <div class="column">
                <a id="photo_anchor">   
                    <img id="photo_box">
                </a>
            </div>
            
            <div id="map" class="map"></div>
            <script src="/scripts/utils/objekt.js"></script>
            <script src="/scripts/utils/renderLang.js"></script>
            {{!-- {{>footer}} --}}
        </div>
    </body>
</html>