<!DOCTYPE html>

<html>
    <head>
        <title>Nettportal objektvisning</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <script src="/scripts/utils/ol/ol.js"></script>
    </head>
    
    <body>
       
        <div class="wrapper">
            {{>header}}
            <br><br>
            <div class="content">
           
                <br>
                
            
                <table width = "1000px">
                    <tr>
                        <td>
                            <p class="page-header" id="musit-regno"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td id = "head-species-name" class= "bold" style= "white-space:pre"></td>
                                    <td id = "species-name" style = "border-spacing: 10px 0"></td>
                                </tr>
                                <tr>
                                    <td id = "head-det" class= "bold" style= "white-space:pre"></td>
                                    <td id = "det" style = "border-spacing: 10px 0"></td>
                                </tr>
                                <tr>
                                    <td id = "head-det-date" class= "bold" style= "white-space:pre"></td>
                                    <td id = "det-date" style = "border-spacing: 10px 0"></td>
                                </tr>
                                
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td id = "head-coll-date" class= "bold" style= "white-space:pre"></td>
                                    <td id = "coll-date" style = "border-spacing: 10px 0"></td>
                                </tr>
                                <tr>
                                    <td id = "head-coll" class= "bold" ></td>
                                    <td id = "coll" style = "border-spacing: 10px 0"></td>
                                </tr>
                                <tr>
                                    <td id = "head-locality" class= "bold"></td>
                                    <td id = "locality" style = "border-spacing: 10px 0"></td>
                                </tr>
                                <tr>
                                    <td id = "head-coordinates" class= "bold"></td>
                                    <td id = "coordinates" style = "border-spacing: 10px 0"></td>
                                </tr>
                                <tr>
                                    <td id = "head-artsobs" class= "bold" style= "white-space:pre"></td>
                                    <td id = "artsobsID" style = "border-spacing: 10px 0"></td>
                                </tr>
                                <tr>
                                    <td id = "head-habitat" class= "bold"></td>
                                    <td id = "habitat" style = "border-spacing: 10px 0"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td id = "head-bold-link" class= "bold" style= "white-space:pre"></td>
                                    <td id = "bold-link" style = "border-spacing: 10px 0"></td>
                                </tr>
                                <tr>
                                    {{!-- <td id = "head-coremaAccno" class= "bold" ></td>
                                    <td id = "coremaAccno" style = "border-spacing: 10px 0"></td> --}}
                                </tr>
                                {{!-- <tr>
                                    <td id = "head-y" class= "bold"></td>
                                    <td id = "y" style = "border-spacing: 10px 0"></td>
                                </tr> --}}
                            </table>
                        </td>

                    
                    </tr>
                
                    <tr>
                        <td><br><br></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="map-object" class="map-object"></div>
                            <br>
                            <button id="zoom-button">Zoom</button>
                            <div id="zoom-modal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <span class="popuptext" id="zoom-expl-popup"></span>
                                </div>    
                            </div>
                            <button id="large-map-object-button"></button>
                        </td>
                        <td>
                            <div>
                                <a id="photo-anchor">   
                                    <img id="photo-box">
                                </a>
                            </div>
                            <br>
                            <button id="next-photo" onclick="changeImage()"></button>
                        </td>

                    </tr>
                    
                </table>
            
                <script src="/scripts/utils/papaparse/papaparse.min.js"></script>
                <script src="/scripts/utils/renderLang.js"></script>
                <script src="/scripts/utils/map.js"></script>
                <script src="/scripts/utils/object.js"></script>
            </div>
        </div>
    </body>
</html>
