<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/ol.css">
       
        


    <title>Nettportal søkeside</title>  
    </head>
  

    <body>
        {{>header}}
        <h1> Søk etter bart</h1>
        <form>
        <input id="search-text" type="text" class="input" placeholder="Søk">
        <button id="sok">Søk</button>
        </form>
        <br>
        <h2>Resultat</h2>

        <p id="resulst-list"> {{results}} </p>
                    <div id="map" class="map"></div>
                    <div id="popup">
                        
                    </div>
                    
    
    <script src="/scripts/utils/search.js"></script>   
    </body>
</html>