<!DOCTYPE html>

<html>
    <head>
        <title>Statistikk over samlingene</title>
        <link rel="stylesheet" href="/nhm/styles/styles.css">
        <link rel="stylesheet" href="/nhm/styles/styles_NHM.css">
    </head>
  
    <body>
        
        <div class="wrapper">
             {{>header}}
            <div class="content">
                <br><br><br><br>
                
                <p class="page-header" id="showStatHeader"></p>
                <p id="showStatText"></p>
                <br>

                <label for="collection-select" id="select-collection-label"></label>
                <select id="collection-select">
                    <option value="total" id="total"></option>
                    <option value="karplanter" id="karplanter"></option>
                    <option value="sopp" id="sopp"></option>
                    <option value="moser" id="moser"></option>
                    <option value="lav" id="lav"></option>
                    <option value="alger" id="alger"></option>
                    <option value="entomologi" id="insekter"></option>
                    <option value="birds" id="fugler"></option>
                    <option value="mammals" id="pattedyr"></option>
                    <option value="dna_fish_herptiles" id="dna_fish_herptiles"></option>
                    <option value="dna_other" id="dna_other"></option>
                </select>
                <br><br>

            {{!-- Tabellen med nøkkel tall --}}
            <table class ="summaryTable">
                <tr>
                    <td id="Collection_header"></td>
                    <td id="NbObj_header"></td>
                    <td id="NbPhoto_header"></td>
                    <td id= "NbCoord_header"></td>
                </tr>
                <tr>
                    <td id="Vascular_header"></td>
                    <td id="Karplanter_n"></td>
                    <td id="Karplanter_foto"></td>
                    <td id="Karplanter_koord"></td>
                </tr>
                <tr>
                    <td id="Mosses_header"></td>
                    <td id="Moser_n"></td>
                    <td id="Moser_foto"></td>
                    <td id="Moser_koord"></td>
                </tr>
                <tr>
                    <td id="Fungi_header"></td>
                    <td id="Sopp_n"></td>
                    <td id="Sopp_foto"></td>
                    <td id="Sopp_koord"></td>
                </tr>
                    <tr>
                    <td id="Lichen_header"></td>
                    <td id="Lav_n"></td>
                    <td id="Lav_foto"></td>
                    <td id="Lav_koord"></td>
                </tr>
                <tr>
                    <td id="Insects_header"></td>
                    <td id="Insekter_n"></td>
                    <td id="Insekter_foto"></td>
                    <td id="Insekter_koord"></td>
                </tr>                   
                <tr>
                    <td id="Birds_header"></td>
                    <td id="Fugler_n"></td>
                    <td id="Fugler_foto"></td>
                    <td id="Fugler_koord"></td>
                </tr>                   
                <tr>
                    <td id="Mammals_header"></td>
                    <td id="Pattedyr_n"></td>
                    <td id="Pattedyr_foto"></td>
                    <td id="Pattedyr_koord"></td>
                </tr>
            </table>
            
            <br><br><br>

            {{!-- Grafene på linje 1, Tilvekst, Akkumulativ størrelse og andel georeferete poster --}}
            <table >      
                <tr>
                    <td ><canvas id="tilvekst" width="400" height="400"></canvas></td>
                    <td ><canvas id="collSize" width="400" height="400"></canvas></td>
                    <td><canvas id="georef" width="400" height="400"></canvas><br><br></td> 
                </tr>
            </table> 

            {{!-- Grafene på linje 2, Topp 20 land og Andel poster fra Norge --}}
            <table>
                <tr>
                    <td><canvas id="populareCountry" width="800" height="400"></canvas></td> 
                    <td><canvas id="andelFraNorge" width="400" height="400"></canvas></td> 
                </tr>
            </table> 
        
            
            <script src="/nhm/scripts/utils/renderLang.js"></script>
            {{!-- <link rel="stylesheet" href="/nhm/styles/styles.css"> --}}
            <link rel="stylesheet" href="/nhm/styles/Chart.css">
            <script src="/nhm/scripts/utils/chart/Chart.min.js"></script>
            <script src="/nhm/scripts/utils/showStat.js"></script>      
            </div>
        
            {{>footer}}
        </div>
    </body>
</html>
