<!DOCTYPE html>

<html>
    <head>
        <title>Statistikk over samlingene</title>
    </head>
  
    <body>
        
        <div class="wrapper">
             {{>header}}
            <div class="content">
                <br><br><br><br>
                
                <p class="page-header" id="showStatHeader"></p>
                <p id="showStatText"></p>
                <br>

            {{!-- Tabellen med nøkkeltall --}}
            <table id = "statTable">
                <tr style = "font-weight: bold">
                    <td id="Collection_header" style = "text-align: left"></td>
                    <td id="NbObj_header"></td>
                    <td id="NbPhoto_header"></td>
                    <td id= "NbCoord_header"></td>
                </tr>
            </table>
            
            <br><br>
            <hr>
            <br>
            <div id="graph_header" style="display: inline-block; font-size: 20px" >
                Grafer: 
            </div>
            <label for="collection-select" id="select-collection-label"></label>
                <select id="collection-select" style=" height:30px; border-radius:4px;">
                             <option value="total" id="total"></option>
                </select>
                <br><br><br>
            {{!-- Grafene på linje 1, Tilvekst, Akkumulativ størrelse og andel georeferete poster --}}
            <table >      
                <tr>
                    <td ><canvas id="tilvekst" width="400" height="400"></canvas></td>
                    <td ><canvas id="collSize" width="400" height="400"></canvas></td>
                    <td><canvas id="georef" width="400" height="400"></canvas><br><br></td> 
                </tr>
            </table> 

            {{!-- Grafene på linje 2, Topp 20 land og Andel poster fra Norge --}}
            <table>
                <tr>
                    <td><canvas id="populareCountry" width="800" height="400"></canvas></td> 
                    <td><canvas id="andelFraNorge" width="400" height="400"></canvas></td> 
                </tr>
            </table> 

             <hr>
            Her vises siteringer fra GBIF datasett. Les mer om tjenesten her:
            <a href="https://www.gbif.org/literature-tracking" target="_blank">Literature tracking</a> <br><br>
            {{!-- Tabellen med citeringer fra GBIF --}}
            <table id = "GBIF-citation-table">
                <tr style = "font-weight: bold">
                    <td>Please wait.....</td>
                </tr>
            </table>

        
            <script src="/museum/scripts/utils/textItems.js"></script>
            <script src="/museum/scripts/utils/renderLangHeader.js"></script>
            <script src="/museum/scripts/utils/renderLang.js"></script>
            <link rel="stylesheet" href="/museum/styles/styles.css">
            <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
            <link rel="stylesheet" href="/museum/styles/Chart.css">
            <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
            <script src="/museum/scripts/utils/chart/Chart.min.js"></script>
            <script src="/museum/scripts/utils/tools/getDOI/dataObject.js"></script>
            <script src="/museum/scripts/utils/showStat.js"></script>    
            <script src="/museum/scripts/utils/showCitations.js"></script>  
            </div>
        
            {{>footer}}
        </div>
    </body>
</html>
