<!DOCTYPE html>

<html>
    <head>
        <title>Verktøy</title>
    </head>
  
    <body>
        
        <div class="wrapper">
             {{>header}}
            <div class="content">
                <br><br><br><br>
                
                <p class="page-header" id="showToolsHeader"></p>
                <p id="showToolsText"></p>
                <br>

                <p>
                    <a class="toolLink" id="statistikk-link">Statistikk</a>
                    
                    <br>
                    <p class="tool-text" id="statistics-text">
                        Se statistikk over samlingene; antall objekter, utvikling over tid osv. 
                    </p>
                    <br>
                    
                </p>
                <p>
                    <a class="toolLink" id="DOI-link">Lag DOI</a>
                    <br>
                    <p class="tool-text" id="DOI-text">
                        Lag en lenke til dataene fra samlingsobjektene. Ved utlån av materiale eller bruk av objekter til 
                        forskning kan man få en DOI som kan puttes i en vitenskapelig artikkel slik at man kan refere til samlingene på en entdig måte. 
                        Dette er en forutsettning for å kunne utnytte de muligheter som ligger i bionomia.
                    </p>
                    <br>
                    
                </p>
                <p>
                    <a class="toolLink" id="data-error-link">Feil i dataene</a>
                    <br>
                    <p class="tool-text" id="data-error-text">
                        Utnytt de verktøy som tilbys fra GBiF og Bionomia til å oppdage feil i dataene, som for eksempel
                    </p>
                    <br>
                        
                </p>
                <p>
                    <a class="toolLink" id="arts-obs-link">Last ned data fra artsobservasjoner</a>
                    <br>
                    <p class="tool-text" id="arts-obs-text">
                        Last ned data og bilder fra artsobservasjoner i et format som gjør det lett å importere det til MUSIT-databasen.
                    </p>
                    <br>
                        
                </p>

                {{!-- <a class="toolLink" id="coordinate-link">Sjekk koordinater</a> --}}
                
                <script src="/museum/scripts/utils/textItems.js"></script>
                <script src="/museum/scripts/utils/renderLang.js"></script>
                <link rel="stylesheet" href="/museum/styles/styles.css">
                <link id="museumStyle" rel="stylesheet" type="text/css" href= "">
                <link rel="stylesheet" href="/museum/styles/Chart.css">
                <script src="/museum/scripts/utils/showCorrectMuseum.js"></script>
                <script src="/museum/scripts/utils/chart/Chart.min.js"></script>
                <script src="/museum/scripts/utils/tools.js"></script>      
            </div>
        
            {{>footer}}
        </div>
    </body>
</html>
