<footer>
    <div class="footer-content">
        <div id="Uni-logo-div">
            <img id="Uni-logo" >
        </div>
        <div id="last-updated"></div>
        <div id="gbif-citation"></div>
    </div>
</footer>