<header>
    
        <div class="header-content">
            <div class="header-left">
                <img id="logo" alt="museum logo">
            </div>
            <div class="header-right">
                <select  id="language" aria-label="Select language">
                    <optgroup id ="language-optgroup">
                        <option value="Norwegian" selected >Norwegian website</option>
                        <option value="English">English website</option>
                    </optgroup>
                </select>
            </div>
            <div class="sub-header-right">
                <a class="headerLink" href="/nhm/help" id="help-link">Hjelp</a>
                <a class="headerLink" href="/nhm/journaler" id="journal-link">Journalsøk</a>
                <a class="headerLink" href="/nhm/showStat" id="statistikk-link">Statistikk</a>
                <a class="headerLink" href="/nhm/" id="search-page-link">Søkeside</a>
            </div>
             




            <div class="dropdown">
                <button id="mobileMenuBtn" class="dropbtn">Meny</button>
                <div id="myDropdown" class="dropdown-content">
                    <a class="mobileLink" href="/nhm/" id="menu_search-page-link">Søkeside</a>
                    <a class="mobileLink" href="/nhm/help" id="menu_help-link">Hjelp</a>
                    <a class="mobileLink" href="/nhm/journaler" id="menu_journal-link">Journalsøk</a>
                    <a class="mobileLink" href="/nhm/showStat" id="menu_statistikk-link">Statistikk</a>
                </div>
            </div>
        </div>   
<script src="/nhm/scripts/utils/swapURL.js"></script>        
</header>