<header>
    <h1>{{title}}</h1>
    <div class="header"  cellpadding="10">
        <table>
            <tr>
                <td><img id="logo"></td>
                <td width="40%"></td>
                <td><a class="headerLink" href="/help" id="help-button"></a></td>
                <td> <a class="headerLink" href="/showStat" id="statistikk-button"></a></td>
                <td width="12%" align="right" >
                <select id="language" >
                    <option value="Norwegian">Norsk</option>
                    <option value="English">English</option>
                 </select>
                </td>
            </tr>

        </table>
        
        
        {{!  <a class="headerLink" href="/about" id="about-button"></a>  --}}
        
       
        
     

        
    </div>
    {{!-- <script src="/scripts/utils/renderLang.js"></script>  --}}
</header>