<header>
    <h1>{{title}}</h1>
    <div class="header">

        <img id="logo" height="15px">
        {{!  <a class="headerLink" href="/" id="searchButtonHeader"></a> --}}
        <a class="headerLink" href="/about" id="aboutButton"></a>
        <a class="headerLink" href="/help" id="helpButton"></a>
        <select id="language" >
            <option value="Norwegian">Norsk</option>
            <option value="English">English</option>
        </select>

        
    </div>
    {{!-- <script src="/scripts/utils/renderLang.js"></script>  --}}
</header>