<header>
    
        <div class="header-content">
            <div class="header-left">
                <img id="logo" alt="Naturhistorisk museum logo">
            </div>
            <div class="header-right">
                <select  id="language" aria-label="Select language">
                    <optgroup id ="language-optgroup">
                        <option value="Norwegian" selected >Norwegian website</option>
                        <option value="English">English website</option>
                    </optgroup>
                </select>
                <div class="sub-header-right">
                    <a class="headerLink" href="/nhm/help" id="help-link">Hjelp</a>
                    <a class="headerLink" href="/nhm/journaler" id="journal-link">Journalsøk</a>
                    <a class="headerLink" href="/nhm/showStat" id="statistikk-link">Statistikk</a>
                    <a class="headerLink" href="/nhm/" id="search-page-link">Søkeside</a>
                </div>
                
                
                                
            </div>
        </div>        
        
</header>