<header>
    <h1>{{title}}</h1>
    <div class="header">

        <img id="logo" src="/images/uio_nhm_segl_a.png" alt="UiO Naturhistorisk museum">
        <a class="headerLink" href="/">Søk</a>
        <a class="headerLink" href="/about">About</a>
        <a class="headerLink" href="/help">Help</a>
    </div>
</header>