<header>
    <h1>{{title}}</h1>
    <div class="header">

        <img id="logo">
        
        {{!  <a class="headerLink" href="/about" id="about-button"></a>  --}}
        <a class="headerLink" href="/help" id="help-button"></a>
        
        <select id="language" >
                <option value="Norwegian">Norsk</option>
                <option value="English">English</option>
            </select>

        {{!-- <div style="float:right"> --}}
            

        </div>
        
        
    </div>
    {{!-- <script src="/scripts/utils/renderLang.js"></script>  --}}
</header>