<header>
    
        <div class="header-content">
            <div class="header-left">
                <img id="logo">
                {{!-- src="/museum/images/UiO NHM SH V2 RGB.png" --}}
            </div>
            <div class="header-right">
                <select  id="language" aria-label="Select language">
                    <optgroup id ="language-optgroup">
                        <option value="Norwegian" selected >Norwegian website</option>
                        <option value="English">English website</option>
                    </optgroup>
                </select>
            </div>
            <div class="sub-header-right">
                <a class="headerLink" href="/museum/help" id="help-link">Hjelp</a>
                <a class="headerLink" href="/museum/nhm/journaler" id="journal-link">Journalsøk</a>
                <a class="headerLink" href="/museum/tools" id="tools-link">Verktøy</a>
                <a class="headerLink" href="/museum/" id="search-page-link">Søkeside</a>
            </div>
             




            <div class="dropdown">
                <button id="mobileMenuBtn" class="dropbtn">Meny</button>
                <div id="myDropdown" class="dropdown-content">
                    <a class="mobileLink" href="/museum/" id="menu_search-page-link">Søkeside</a>
                    <a class="mobileLink" href="/museum/help" id="menu_help-link">Hjelp</a>
                    <a class="mobileLink" href="/museum/nhm/journaler" id="menu_journal-link">Journalsøk</a>
                    <a class="mobileLink" href="/museum/tools" id="menu_tools-link">Verktøy</a>
                </div>
            </div>
        </div>   
    <script src="/museum/scripts/utils/swapURL.js"></script>        
</header>