<header>
    
        <div class="header-content">
            <div class="header-left" >
                <a href="" id="home-link" alt="Home link">
                    <img id="logo" alt="Logo of the museum" >
                </a>
                {{!-- src="/museum/images/UiO NHM SH V2 RGB.png" --}}
            </div>
            <div class="header-right">
                <button id="language">English website</button>

            </div>
            <div class="sub-header-right">
                <a class="headerLink" href="/museum/help" id="help-link">Hjelp</a>
                <a class="headerLink" href="/museum/nhm/archive" id="arkiv-link">Arkiv</a>
                <a class="headerLink" href="/museum/tools" id="tools-link">Verktøy</a>
                <a class="headerLink" href="/museum/tools/loans" id="loan-link">Lån</a>
                <a class="headerLink" href="/museum/" id="search-page-link">Søkeside</a>
            </div>
             




            <div class="dropdown">
                <button id="mobileMenuBtn" class="dropbtn">Meny</button>
                <div id="myDropdown" class="dropdown-content">
                    <a class="mobileLink" href="/museum/" id="menu_search-page-link">Søkeside</a>
                    <a class="mobileLink" href="/museum/tools/loans" id="menu_loan-link">Lån</a>
                    <a class="mobileLink" href="/museum/help" id="menu_help-link">Hjelp</a>
                    <a class="mobileLink" href="/museum/nhm/archive" id="menu_arkiv-link">Journalsøk</a>
                    <a class="mobileLink" href="/museum/tools" id="menu_tools-link">Verktøy</a>
                </div>
            </div>
        </div>   
    <script src="/museum/scripts/utils/swapURL_headerLinks.js"></script>        
</header>