/* to get a sticky footer */
.content {
    min-height:  calc(100vh - 170px);
    margin-left: 100px;
}

header {
    height: 50px;
    background-color: #d2e98f;
    /* dette er en underlig måte å sentrere bilde og lenker vertikalt på */
    line-height: 45px;
}

.footer {
    height: 50px;
    background-color: #d2e98f;
    padding:10px;
}

#logo {
    vertical-align: middle; 
    max-height: 40px;
    /*margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.headerLink {
    padding: 20px;
}

.column {
    float: left;
    width: 400px;
    padding:10px;
}

.box {
    background-color:#d2e98f;
    padding:10px;
    border: black;
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#photo_box {
    background-color: #d2e98f;
    padding:10px;
/*     border: black solid; */
    width: 150px;
}

#name_colon {
    font-weight: bold;
}

/* Her kommer stylingen til resulta av søk tabellen */

    .resultTable  {
        /* Prøver å skap litt luft mellom svarene */
        /* table-layout: fixed; */
        /* width: 100%; */
        white-space: nowrap;

    }

    .row-ID {
        width: 80px;
        text-align: right;
        padding: 5px;
    }
    .row-name {
        font-style: italic;
        width: 230px;
        padding: 10px;
    }
    .row-innsamler {
        width: 130px;
  
    }
    .row-dato {
        width: 100px;
        padding: 3px;
    }
    .row-land {
        width: 100px;
    }
    .row-kommune {
        width: 150px;
        padding: 3px;
    }
    .row-sted {
        overflow: hidden;
        text-overflow: ellipsis;
        }
    


.italic {
    font-style: italic;
}

.right {
    position: absolute;
    right: 100px;
}

/* Set the size of the div element that contains the map  */
.map {
    height: 400px;  /* The height is 400 pixels */
    width: 400px;  
    padding: 10px;
    }

.neutral {
    background-color: white;
    border: white;
}


.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2)); 
    padding: 15px; 
    border-radius: 10px; 
    border: 1px solid #cccccc;
    bottom: 12px; 
    left: -50px; 
    /* min-width: 280px; */
  }

  /* vet ikke hvorfor, men de to bolkene nedenfor må være med for at popup'en på kartet får pil til punktet, som en snakkeboble */
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
   .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  } 


  /* vet ikke hva denne gjør */
  /* .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  } */
 
  .popup-link {

  }
