header {
    /* background-color: #57AD3E; */
    background-color: #ADB797
    
}
#logo {
    height: 50px;
}

/* footer.hbs */
footer {
    background-color: #ADB797;
} 



#language {
    background-color: #ADB797;
    color: black;
} 

.headerLink {
    color: black;
}

.headerLink:hover {
    background-color: #82b373
}

/* Dropdown Button */
  .dropbtn {
    background-color: #ADB797;
    color: black;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #ADB797;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #82b373}


@media only screen and (max-width: 974px) {
    /* .headerLink {
        color: #57AD3E;
        background-color: white;
    } */
    /* .header-right {
        background-color: white;
    } */
    /* #language {
        background-color: white;
        color:#57AD3E;
    } */
}

@media only screen and (max-width: 670px) {

    #logo {
        position: absolute;
        clip: rect(0px,60px,200px,0px);
        
    }
}
